In [1]:
import os
os.chdir("D:\\Data Science Ayush")

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
dataset=pd.read_csv("diabetes.csv")

In [4]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [23]:
dataset.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [40]:
import numpy as np
#for i in dataset.columns:
def zscore(i):
    mean=np.mean(dataset[i])
    std=np.std(dataset[i])
    for i in dataset[i]:
        score=abs((i-mean)/std)
        if score>3:
            print(" outlier " , i , "in column" , j)
for j in dataset.columns:    
    zscore(j)

 outlier  15 in column Pregnancies
 outlier  17 in column Pregnancies
 outlier  14 in column Pregnancies
 outlier  14 in column Pregnancies
 outlier  0 in column Glucose
 outlier  0 in column Glucose
 outlier  0 in column Glucose
 outlier  0 in column Glucose
 outlier  0 in column Glucose
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  0 in column BloodPressure
 outlier  99 in column SkinThickness
 outlier  543 in column Insulin
 outlier  846 in column Insulin
 outlier  495 in column Insulin
 outlier  485 in column Insulin
 outlier  495 in column Insulin
 outlier  478 in column Insulin
 outlier  744 in column Insulin
 outlier  680 in column Insulin
 outlier  545 in column Insulin
 outlier  465 in column Insulin
 outlier  579 in column Insulin
 outlier  474 in column Insulin
 outlier  480 in column Insulin
 outlier  600 in column Insulin
 outlier  440 in column Insulin
 outlier  540 in column Insulin
 outlier  480 in column Insulin
 outlier  510 in column Insulin
 outlier  0.0 in column BMI
 outlier  0.0 in column BMI
 outlier  0.0 in column BMI
 outlier  0.0 in column BMI
 outlier  0.0 in column BMI
 outlier  67.1 in column BMI
 outlier  0.0 in column BMI
 outlier  0.0 in column BMI
 outlier  59.4 in column BMI
 outlier  0.0 in column BMI
 outlier  0.0 in column BMI
 outlier  57.3 in column BMI
 outlier  0.0 in column BMI
 outlier  0.0 in column BMI
 outlier  2.2880000000000003 in column DiabetesPedigreeFunction
 outlier  1.893 in column DiabetesPedigreeFunction
 outlier  1.781 in column DiabetesPedigreeFunction
 outlier  2.329 in column DiabetesPedigreeFunction
 outlier  1.476 in column DiabetesPedigreeFunction
 outlier  2.137 in column DiabetesPedigreeFunction
 outlier  1.7309999999999999 in column DiabetesPedigreeFunction
 outlier  1.6 in column DiabetesPedigreeFunction
 outlier  2.42 in column DiabetesPedigreeFunction
 outlier  1.699 in column DiabetesPedigreeFunction
 outlier  1.6980000000000002 in column DiabetesPedigreeFunction
 outlier  69 in column Age
 outlier  72 in column Age
 outlier  81 in column Age
 outlier  70 in column Age
 outlier  69 in column Age

In [86]:
dataset.shape

(768, 9)

In [63]:
filter=[]
#pos=0
import numpy as np
for j in dataset.columns:
    pos=-1
    mean=np.mean(dataset[j])
    std=np.std(dataset[j])
    for i in dataset[j]:
        pos=pos+1
        score=abs((i-mean)/std)
        if score>3:
            #print(i)
            #print(pos)
            filter.append(pos)

In [79]:
filter

[88,
 159,
 298,
 455,
 75,
 182,
 342,
 349,
 502,
 7,
 15,
 49,
 60,
 78,
 81,
 172,
 193,
 222,
 261,
 266,
 269,
 300,
 332,
 336,
 347,
 357,
 426,
 430,
 435,
 453,
 468,
 484,
 494,
 522,
 533,
 535,
 589,
 601,
 604,
 619,
 643,
 697,
 703,
 706,
 579,
 8,
 13,
 111,
 153,
 186,
 220,
 228,
 247,
 286,
 370,
 409,
 415,
 486,
 584,
 645,
 655,
 695,
 753,
 9,
 49,
 60,
 81,
 145,
 177,
 371,
 426,
 445,
 494,
 522,
 673,
 684,
 706,
 4,
 45,
 58,
 228,
 330,
 370,
 371,
 395,
 445,
 593,
 621,
 123,
 453,
 459,
 666,
 684]

In [69]:
df=dataset.iloc[filter,:]

In [77]:
result_dataset=dataset.drop(filter)

In [87]:
print(dataset.shape,result_dataset.shape)

(768, 9) (688, 9)